:host{
    background: #1F8B24;
    &[type="wait"] .toast-wrapper{
        background: #ED9526;
    }
    .toast-wrapper{
        
        animation: show 0.5s forwards;
        position: fixed;
        color: white;
        border-radius: 10px;
        top: 0;
        right: 0;
        transform: translate(-15px, 15px);
        border-radius: 8px;
        overflow: hidden;
    }
    .alert-wrapper{
        display: flex;
    }
   
    .close{
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background: none;
          border: none;
          font-family: inherit;
          font-size: 1.5em;
          padding: 18px 18px 0;
          align-items: center;
          cursor: pointer;
          color: inherit;
          opacity: .7;
    }
    .alert-bar { 
        height: 6px;
        background-color: #FFFFFF;
        opacity: .6;
        transition: width .1s;
        width: 0;
    }


   
}


@keyframes show{
    0% {
      transform: translate(-15px,15px) scale(0);
    }
    50% {
      transform: translate(-15px,15px) scale(1.2);
    }
    70% {
      transform: translate(-15px,15px) scale(0.9);
    }
    100% {
      transform: translate(-15px,15px) scale(1);
    }
}
  


