<style>
  .row{
    display: flex;
    gap: 5px;
  }
  .container{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>

<bravo-logo min width="200px" height="60px"></bravo-logo>
<bravo-logo width="200px" height="60px"></bravo-logo>
<div class="row">
  <div class="container">
    <div class="row">
      <button br-button disabled>Large</button>
      <button br-button-outlined>Large</button>
      <button br-button-contained>Large</button>
    </div>
    <div class="row">
      <button br-button br-button-size="medium">Medium</button>
      <button br-button-outlined br-button-size="medium2">Medium</button>
      <button br-button-contained br-button-size="medium">Medium</button>
    </div>
    <div class="row">
      <button br-button br-button-size="small">Small</button>
      <button br-button-outlined br-button-size="small">Small</button>
      <button br-button-contained br-button-size="small">Small</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <button br-fab disabled>+</button>
      <button br-fab-outlined>+</button>
      <button br-fab-contained>+</button>
    </div>
    <div class="row">
      <button br-fab br-fab-size="medium">+</button>
      <button br-fab-outlined br-fab-size="medium">+</button>
      <button br-fab-contained br-fab-size="medium">+</button>
    </div>
    <div class="row">
      <button br-fab br-fab-size="small">+</button>
      <button br-fab-outlined br-fab-size="small">+</button>
      <button br-fab-contained br-fab-size="small">+</button>
    </div>
  </div>
</div>
