:host{
    display: flex;

    .alert-text-icon{
        align-items: flex-start;
        box-shadow: 0 1px 1px rgb(10 10 10 / 10%);
        display: flex;
        max-width: 350px;
        
    } 
    .alert-message{
        align-items: center;
        padding: 0 25px;
        color: #FFFFFF;
        font-feature-settings: 'tnum' on, 'lnum' on;
    
        .alert-message-main{
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.005em;
        }
        .alert-message-small{
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.0168em;
        }
    }
    .alert-icon{
        padding: 18px 0 18px 18px;
        
    }
}
