:host {
    position: absolute;
    // top: 22px;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    color: #818181;
    transition: all 0.2s;
    cursor: text;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}